

.container {
    margin-top: 100px;
    width: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;

}

label {
    color: #343a40;
    font-weight: 500;
}

.btn-danger {
    background-color: #7b0828;
    border-color: #7b0828;
}

.btn-danger:hover {
    background-color: #5a061f;
    border-color: #5a061f;
}

a {
    display: block;
    text-align: center;
    color: #7b0828;
}

a:hover {
    color: #5a061f;
    text-decoration: underline;
}

.alert {
    margin-top: 20px;
}