body {
    background-color: #f8f9fa;
}
.container {
    padding: 5rem;
    border-radius: 15px;
}
h2 {
    color: #7b0828;
    font-weight: 600;
}
.form-label {
    color: #343a40;
    font-weight: 500;
}
.form-control:focus {
    border-color: #7b0828;
    box-shadow: 0 0 0 0.2rem rgba(123, 8, 40, 0.25);
}
.btn-danger {
    background-color: #7b0828;
    border-color: #7b0828;
}
.btn-danger:hover {
    background-color: #5e061f;
    border-color: #5e061f;
}
select.form-control {
    background-color: #fff;
}
.alert {
    margin-top: 20px;
}